<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <footer th:fragment="footer" class="footer">

        <div class="footer-container">

            <div class="footer-brand">

                <img th:src="@{/images/logo.png}" alt="Logo Habitapp" class="footer-logo">

            </div>

            <div class="footer-info">

                <p>
                    Proyecto desarrollado para Taller Web I.
                </p>

                <p>
                    Tomas Diuorno - Julieta Miño -
                    Ramiro Bruzon - Dorian Villalba -
                    Lucas Garcia - Juan Pablo Pfeiffer
                </p>

            </div>

            <div class="footer-copy">

                <p>
                    &copy; 2026 Habitapp.
                </p>

            </div>

        </div>

    </footer>

</body>

</html>