<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Habitapp - Login</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;800&family=Rajdhani:wght@400;500;600;700&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" th:href="@{/css/register.css}" />
  <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>

<body class="body-reg">

  <nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
      <a class="navbar-brand" th:href="@{/login}">UNLAM</a>
    </div>
  </nav>

  <main class="auth-container login-container">
    <div class="auth-card login-card">

      <form th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">

        <h1 class="auth-title">Iniciar Sesión</h1>

        <p class="auth-subtitle">Ingresá a tu cuenta</p>
        <hr class="colorgraph">

        <div class="form-group">
          <label for="emailorusername" class="form-label">
            Email o Username
          </label>

          <input
            th:field="*{emailorusername}"
            id="emailorusername"
            type="text"
            class="input-custom"
            placeholder="Ingresá tu email o usuario"
            required />
        </div>

        <div class="form-group">
          <label for="password" class="form-label">
            Contraseña
          </label>

          <input
            th:field="*{password}"
            type="password"
            id="password"
            class="input-custom"
            placeholder="**"
            required />
        </div>

        <button id="btn-login" class="btn-neon" type="submit">
          Iniciar sesión
        </button>

        <p th:if="${error != null}" class="alert-danger" th:text="'Error: ' + ${error}"></p>

      </form>

      <div class="login-register-box">
        <p>¿No tenés cuenta?</p>

        <a th:href="@{/nuevo-usuario}" class="login-register-link">
          Crear cuenta
        </a>
        
        <a th:href="@{/recuperacion-contrasenia}" class="login-register-link">
          ¿Olvidaste tu contraseña?
        </a>

      </div>

    </div>
  </main>

  <script type="module" th:src="@{/js/login.js}"></script>

</body>

</html>